.Main{


display: flex;
bottom: 0;
width: 100%;
height: 90%;
border-top: 1px solid white;

}
.user_inputs{
  width: 50%;
  height: 100%;
  border-right: 1px solid white;

}
.main-input{
  width: 100%;
  text-align: center;
  padding-top:20px;
}
.heading{
  color:#616161;
  margin-top: 1%;
  

 
}
.container{
width: 90%;
height: 90vh;
margin: 0 auto;
background: #EEEEEE;

margin-top:2%;
padding-top:5px;
text-align: center;
}
.todolist{
  overflow-y: scroll;
  width: 100%;
  height:85%;
  border: 1px solid white;
  margin: 10px auto 0 auto;
  background: rgb(247, 244, 244);
}
.doneTodos{
  overflow-y: scroll;
  width: 50%;
  height: 100%;
  text-align: center;
   color:#616161;
}
@media screen and (max-width:1480px){
  .todolist{

    height: 52%;
  }
}